@CHARSET "UTF-8";

body {
    font-size: 12px;
    line-height: 1.5em;
    background-color: #fff;
    color: #767676;
    font-family: Arial,Helvetica,sans-serif,Arial Unicode;
    text-align: center;
    margin:0 auto;
}
a:link,a:visited{color:#295394;text-decoration:none;}
a:active,a:hover{color:#000 ;text-decoration:underline;}
a image {
	border: none;
}
.sitebody {
	width: 1000px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 0;
	padding: 0;
	background-color: #fff;
}
.sitebody .header {
	text-align: left;
	min-height: 93px;
	padding-top: 5px;
	margin: 0;
	background-image: url("../images/bg_header.jpg");
	background-repeat: repeat-x;
}
.sitebody .content {
	margin: 0;
	text-align: left;
	min-height: 400px;
}
.sitebody .content .panel-left {
	width: 300px; 
	height: 250px; 
	float: left;
}
.sitebody .content .panel-right {
	width: 300px; 
	height: 250px; 
	float: right;
}
.sitebody .content .panel-middle {
	width: auto;
	height: 250px;
	margin-left: 308px;
	margin-right: 308px;
}
.sitebody .content .panel-items {
	width: 100%; 
	overflow: visible; 
	margin: 4px 0px 2px 0px;
}
.sitebody .content .panel-item{
	background: #fff; 
	margin-bottom: 2px; 
	border: 1px solid #ddd;
}
.sitebody .content .panel-item .item-title {
	height: 30px; 
	line-height: 30px; 
	padding-left: 10px; 
	color: #0E61A6; 
	font-weight: bold; 
	vertical-align: middle; 
	border-bottom: 1px solid #ddd;
	background-image: url('../images/bg_title.jpg');
	background-repeat: repeat-x; 
	overflow: hidden;
}
.sitebody .content .panel-item .item-title .span-title {
	display: inline;
	float: left;
}
table.tbl-ellipsis {
	table-layout:fixed;
	width: 100%;
}
table.tbl-ellipsis td.td-ellipsis {
	text-overflow:ellipsis;
	overflow:hidden;
	white-space: nowrap;
}
.sitebody table td.pageHome-listnews {
	padding-left: 12px; 
	background-image: url('../images/qdt.jpg'); 
	background-repeat: no-repeat;
	width: 80%; 
	background-position: 4px 9px;
}
.sitebody .content .panel-item .item-title .img-more {
	float: right; 
	vertical-align: middle; 
	margin: 10px 10px 10px 0px;
}
.sitebody .app-list {
	height: 50px;
	padding-bottom: 0px;
	margin: 5px auto 2px auto;
}
.sitebody .app-list span {
	margin-bottom: 0px;
	padding-left: 25px;
	padding-right: 25px;
}
.sitebody .statement {
	text-align:center; 
	border: 1px solid #ddd; 
	padding-top: 6px; 
	height: 20px; 
	background: #f2f2f2; 
	color: black;
}
.sitebody .statement a {
	color: #333;
}
.sitebody .statement a:hover {
	color: #9A1702;
}
.sitebody .footer {
	/*margin: 0;
	text-align: left;
	min-height: 60px;
	margin-bottom: 4px;
	border: 1px solid #4E6E9D;
	background-color: #4E6E9D;
	border: none;
	color: #ffffff;
	line-height: 30px;
	border-top: 6px double #ffffff;
	border-bottom: 6px double #ffffff;*/
	width:100%;
	height:30px;
	background-image: url("../images/foot.gif"); 
	background-repeat: repeat-x; 
	background-position:top; 
	color: gray; 
	margin: 0 auto;
	margin-top:2px;
}
.sitebody .header .sitelogo {
	height: 67px;
}
.sitebody .header .sitelogo .logo {
	padding-left: -20px;
	float: left;
}
.sitebody .header .sitelogo .siteheadtop {
	float: right;
	width: 300px;
	margin-top: 10px;
	padding-right: 4px;
	text-align: right;
	/* #4663AF*/
}
.sitebody .header .imgMenu{margin: 0;}
.sitebody .header .imgMenu .item{
	width:100%-2px;
	text-align:right;
	top:-12px;
	position:relative;
	height:12px;
	padding:0px;
	margin:0px;
	border:0px; 
	filter:alpha(style=1,opacity=10,finishOpacity=80);
	background: #888888;
	/*filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#eee', endColorstr='gray');
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eee', endColorstr='gray');*/
}	
.sitebody .header .imgMenu .ieitem {
	filter:alpha(style=1,opacity=10,finishOpacity=80);
	background: #888888;
}
.sitebody .header .imgMenu .nonieitem {
	opacity: 0.8;
	background: -moz-linear-gradient(left, #eee, gray); 
	background: -webkit-gradient(linear, 0 0, 100% 0, from(#eee), to(gray));	
}

.sitebody .header .sitemenu {
	margin: 0;
	padding: 0;
	height: 32px;
	text-align: right;
	padding-right: 20px;
	background-image: url("../images/bg_menu.jpg");
	background-repeat: repeat-x;
}
.sitebody .header .sitemenu .activation {
	color: #FFFFFF;
	background-color: #0D8DDF;
}
ul, li{margin:0; padding:0; list-style:none;}
.menu-items {margin: 0px auto 0px auto; width: auto; float: right; overflow: visible;}
.menu_head{border:1px solid #998675; width: 120px; /*display: inline-table;*/float: left; margin: 0px 2px 0px auto; height: 30px; line-height: 30px; color: #ffffff; font-weight: bold; text-align: center; cursor: default;}
/*IE6*/
.menu_head_hover{background-color: #4E6E9D !important; color: black !important; cursor: pointer;}
/*!IE6*/
.menu_head:hover{background-color: #4E6E9D !important; color: black !important; cursor: pointer;}
.menu_body {display:none; filter:alpha(opacity=80) !important; opacity: 0.8; width:120px;border-right:1px solid #998675;border-bottom:1px solid #998675;border-left:1px solid #998675;}
.menu_body li{background:#4E6E9D; font-weight: normal; line-height: 30px !important;}
.menu_body li.alt, .menu_body li a.alt{background:#5983C1;}
.menu_body li a{color:#FFFFFF !important; text-decoration:none !important; padding:5px !important; display:block; background-color: #4E6E9D;}
.menu_body li a:hover{padding:15px 10px; font-weight:bold;}