@charset"utf-8";
.list-box{
	float:left;
	text-align:left;
	padding:20px 0px;
	border-bottom:solid 1px #e3e3e3;
	}
	
.list-img{
	float:left;
	width:125px;
	margin:0 25px 50px 0;
	}
	
.list-img img{border:solid 2px #e7e7e7;}
	
.list-right{
	float:right;
	width:545px;
	text-align:left;}
	
.list-right span, .list-link{
	float:left;
	width:545px;
}

.list-right strong{
	font-weight:bold;
	color:#000;}
	
.list-right span{
	color:#626262;}
	
.list-link{
	padding:5px 0 20px 0;
}
.list-link a{
	float:left;
	line-height:22px;
	color:#1b70d9;}
	
.list-link img{
	float:left;
	height:20px;
	padding-right:5px;}
	
.list-link span{
	float:left;
	width:auto;
	margin-right:25px;
	}
	
.list-gl dl{
	float:left;
	width:696px;
	height:21px;
	line-height:21px;
	}
	
	
.list-gl dt{
	width:696px;
	font-weight:bold;
	margin:10px 0 15px 0;
	color:#007ee9;
	height:21px;
	background:url(../images/con_line.jpg) repeat-x;}
	
.list-gl dt h4{
	float:left;
	font:bold 12px/22px "����";
	width:150px;
	background:#fff;
}
	
.list-gl dt span{
	float:left;
	width:23px;
	height:25px;
	padding-right:10px;
	background:#fff;
	
}
	
.list-gl dd a{
	float:left;
	width:130px;
	color:#007ee9;
	margin-right:30px;}
	
	
.shearch-footer{
	margin:50px 0;
	float:left;
	width:696px;
	}	
	
.shearch-footer-top, .shearch-footer-bottom{
	float:left;
	width:696px;
}
	
.shearch-footer-top {
	height:6px;
	background:url(../images/search_bottom1.jpg) no-repeat left top;
	position:relative;
	bottom:-8px;
	}
	
.shearch-footer-middle {
	width:656px;
	height:60px;
	padding:10px 0 0 50px;
	background:url(../images/search_bottom3.jpg) repeat-y;
	}
	
.shearch-footer-bottom {
	height:6px;
	background:url(../images/search_bottom2.jpg) no-repeat;
	}
.con-padding{
	padding:0;}


.list-gl dd{padding:0px 30px;}
.list-gl-wth{width:680px;}
	