
.polltitle {
		font:normal normal normal 16px/1.67em "微软雅黑","黑体";
		font-size: 16px;
		color: #255385;
}
.EM1 {
    font-family: "宋体";	
    font-size: 14px;
    font-weight: bold;   
}
.EM2 {
	font-family: "宋体";
	font-size: 13px;
	color: #666666;
}
.EM3 {
	font-family: "宋体";
	font-size: 13px;
	color: #FF0000;
    font-weight: bold;
}
.Labels{
	font-family: "宋体";
	font-size: 9pt;
	color: #225081;
}
.Caption {
	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	color: #204d89;
}
.Title {
	font-family: "宋体";
	font-size: 9pt;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #13428a;
}
.TextGray1 {
	font-family: "宋体";
	font-size: 9pt;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #666666;
}
.TextGray {
	font-family: "宋体";
	font-size: 9pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #666666;
}
.TextGray11 {
	font-family: "宋体";
	font-size: 11pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #666666;
}
.TextGray2 {
	font-family: "宋体";
	font-size: 9pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #999999;
}
.TextWhite {
	font-family: "宋体";
	font-size: 9pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
}
.TextWhite1 {
	font-family: "宋体";
	font-size: 9pt;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #FFFFFF;
}
.cxTitle {
	font-family: "宋体";
	font-size: 9pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #ddecfe;
}
.TextBlack {
	font-family: "宋体";
	font-size: 9pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}
.TextBlack11 {
	font-family: "宋体";
	font-size: 11pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}
.account {
	font-family: "宋体";
	font-size: 9pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FF9900;
}
.TextPage {
	font-family: "宋体";
	font-size: 9pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}
.Text163 {
	font-family: "宋体";
	font-size: 9pt;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #176426;
}
.TextBlack1 {
	font-family: "宋体";
	font-size: 9pt;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
}
.TextBlack2 {
	font-family: "宋体";
	font-size: 11pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}
.TextHs {
	font-family: "宋体";
	font-size: 9pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FFFF00;
}
.TextRed1 {
	font-family: "宋体";
	font-size: 16px;
	color: #FF0000;
	font-weight: bold;
}
.TextRed {
	font-family: "宋体";
	font-size: 9pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FF0000;
}
.TextLs {
	font-family: "宋体";
	font-size: 9pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #02861e;
}
.TextCxTitle {
	font-family: "宋体";
	font-size: 9pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #DDECFE;
}
.TextBlue {
	font-family: "宋体";
	font-size: 9pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #0000FF;
}
.TextBlue3 {
	font-family: "宋体";
	font-size: 9pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #0e70be;
}
.TextBlue2 {
	font-family: "宋体"; 
	font-size: 9pt; 
	font-style: normal; 
	line-height: normal; 
	font-weight: normal; 
	font-variant: normal; 
	color: #000099; 
}
.TextRedBold {
	font-family: "宋体";
	font-size: 9pt;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #FF0000;
}
.TextBlueBold {
	font-family: "宋体";
	font-size: 9pt;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #0000FF;
}
.TextBlue1 {
	font-family: "宋体";
	font-size: 9pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000066;
}
.NullField {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	font-style: normal;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-bottom-color: #7F9DB9;
}
.field_ {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;	
	font-style: normal;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dotted;
	border-left-style: none;
	border-bottom-color: #7F9DB9;
}
.field3_{
	text-align:right;
	font-family: "宋体";
	font-size: 12px;
	color: #000000;	
	font-style: normal;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-bottom-color: #7F9DB9;
}
.field2_{
	text-align:left;
	font-family: "宋体";
	font-size: 12px;
	color: #000000;	
	font-style: normal;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-bottom-color: #7F9DB9;
}
.field1_ {
	font-family: "宋体";
	font-size: 12px;
	color: #666666;	
	font-style: normal;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dotted;
	border-left-style: none;
	border-bottom-color: #7F9DB9;
}
.field__ {
	font-family: "宋体";
	font-size: 12px;
	color: #666666;
	font-style: normal;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dotted;
	border-left-style: none;
	border-bottom-color: #666666;
}
.welcome {
	color: #FFFFFF;
	font-family: "宋体";
	font-size: 36px;
	font-style: italic;
	font-weight: bold;
}
.filetext {
	font-family: "宋体";
	font-size: 12px;
	BORDER-RIGHT: #84a1bd 1px solid; 
	PADDING-RIGHT: 2px; 
	BACKGROUND-POSITION: -70px -424px; 
	BORDER-TOP: #84a1bd 1px solid; 
	PADDING-LEFT: 2px; 
	PADDING-BOTTOM: 2px; 
	BORDER-LEFT: #84a1bd 1px solid; 
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: #84a1bd 1px solid;
}
.returnMessage {
    font-size: 12px; 
    color: #FFFF00; 
    font-family: "宋体";
}
.IE6 {
	font-family: "宋体";
	font-size: 9pt;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #5f7dd0;
}
input.SmallButton{
	BACKGROUND: #F8F8F8;
	CURSOR: hand;
	COLOR: #000000;
	HEIGHT: 19px;
	FONT-SIZE: 9pt;
	TEXT-DECORATION: none;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #9ecc00;
	border-right-color: #9ecc00;
	border-bottom-color: #9ecc00;
	border-left-color: #9ecc00;
}
.bold {
	font-size: 18px;
	line-height: 40px;
	font-weight: bold;
	color: #666666;
}
.fontorange {
	font-family: "黑体";
	font-size: 16px;
	color: #FF9900;
	font-weight: bold;
}