@charset"utf8";
	
.task_box{
	padding:5px;
	border:solid 1px #eaeaea;
	background:#fafafa;}
	
.task{
	float:left;
	width:115px;
	color:#008ce8;
	text-align:left;
	}
	
.task img{
	float:left;
	width:36px;
	padding:8px 10px 0 0;}
	
.task span{
	float:left;
	width:66px;
	}
	
.task strong{
	float:left;
	width:66px;
	}
	
.task_date{
	float:left;
	width:224px;
	padding-top:10px;
	text-align:center;
	color:#6e6e6e;
	}

	
.search_bd{
	float:left;
	width:696px;
	margin-top:5px;
	}
	
.search_text{
	float:right;
	width:200px;
	height:18px;
	border:solid 1px  #bbd6eb;
}

.bd_button{
	float:right;
	width:56px;
	height:22px;
	line-height:22px;
	border:none;
	color:#fff;
	cursor:pointer;
	text-align:center;
	background:url(../imgaes/button_bd.jpg) no-repeat;
}
	
.bd_buttom{
	border:none;
	width:px;
	height:px;
	color:#fff;
	font-weight:bold;}