<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.test.dao.UsersMapper">
    <resultMap type="SystemUsers" id="usersResultMap">  
        <id property="id" column="ID"/>  
        <result property="userName" column="userName"/>  
        <result property="password" column="password"/>  
        <result property="level" column="level"/>  
        <result property="cert" column="cert"/>  
        <result property="certInfo" column="certInfo"/>  
        <result property="certTime" column="certTime"/>  
        <result property="popedomModel" column="popedomModel"/>  
        <result property="createTime" column="createTime"/>  
        <result property="createUser" column="createUser"/>  
        <result property="sts" column="sts"/>  
        <result property="remark" column="remark"/>  
    </resultMap>  
       
   <!-- 查询用户，根据id -->  
   <select id="getUsers" parameterType="String" resultType="SystemUsers" resultMap="usersResultMap">  
        <![CDATA[ 
            SELECT * from SYSTEM_USERS U 
               WHERE U.ID = #{id}  
        ]]>   
   </select>  
       
    <!-- 查询用户列表 -->  
    <select id="getUsersAll"  resultType="SystemUsers" resultMap="usersResultMap">  
       <![CDATA[ 
             SELECT * from SYSTEM_USERS U  
       ]]>   
    </select>  
</mapper>