<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

   
<bean id="orderBill2Dao" class="com.hnatourism.club.pay.order.dao.impl.OrderBillDaoImpl" 
    parent="baseIBatisDaoSupport">
    <property name="jdbcDaoSupport" ref="jdbcDaoSupport"/>
    </bean> 
	<bean id="orderBill2Service" class="com.hnatourism.club.pay.order.service.impl.OrderBillServiceImpl">
		<property name="orderBill2Dao" ref="orderBill2Dao" />
		<property name="sysRoleService" ref="sysRoleService" />
	</bean>
	
	<bean id="logGolfOrderDao" class="com.hnatourism.club.golf.log.dao.impl.LogGolfOrderDaoImpl"  parent="baseIBatisDaoSupport">
	</bean>
	
	
		<!--【功能描述:积分兑换订单的bean配置】-->
	<!-- ============================================================== -->     
	<!--【1.初始化Dao】 -->
	<bean id="orderPointsExchangeDao" class="com.hnatourism.club.order.dao.impl.OrderPointsExchangeDaoImpl" parent="baseIBatisDaoSupport">
	</bean>	
	<!--【2.初始化Service】 -->
	<bean id="orderPointsExchangeService" class="com.hnatourism.club.order.service.impl.OrderPointsExchangeServiceImpl">
		<property name="orderPointsExchangeDao" ref="orderPointsExchangeDao" />
		<property name="memberAccountDao" ref="memberAccountDao"/>
		<property name="memberInfoDao" ref="memberInfoDao"/>
	</bean>	
	<!--【2.初始化Action】 -->
	<bean id="orderPointsExchangeAction" class="com.hnatourism.club.order.web.OrderPointsExchangeAction" scope="prototype">
	<property name="orderPointsExchangeService" ref="orderPointsExchangeService"/>
	</bean>
	
	<!--【价格验证】 -->
	<bean id="priceValidatorServiceImpl" class="com.hnatourism.club.common.service.impl.PriceValidatorServiceImpl">
		<property name="apiDao" ref="apiDao"/>
		<property name="loungeInfoDao" ref="LoungeInfoDaoImpl"/>
       	<property name="loungeRoomDao" ref="LoungeRoomDaoImpl"/>
       	<property name="loungePriceDao" ref="LoungePriceDaoImpl"/>
       	<property name="memberAccountDao" ref="memberAccountDao" />
       	<property name="memberRoleServ" ref="memberRoleService" />
       	<property name="memberInfoServ" ref="memberInfoService" />
	</bean>
</beans>