<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

    <!--【个人中心Service】 -->
   	<!-- ============================================================== -->
	<!--【功能描述:会员账户表的bean配置】-->
	<!-- ============================================================== -->     
	<!--【1.初始化Dao】 -->
	<bean id="memberAccountDao" class="com.hnatourism.club.personal.member.dao.impl.MemberAccountDaoImpl" parent="baseIBatisDaoSupport">
		<property name="jdbcDaoSupport" ref="jdbcDaoSupport"></property>
	</bean>	
	<!--【2.初始化Service】 -->
	<bean id="memberAccountServ" class="com.hnatourism.club.personal.member.service.impl.MemberAccountServiceImpl">
        <property name="memberAccountDao" ref="memberAccountDao" />
    </bean> 
	<bean id="memberAccountService" class="com.hnatourism.club.personal.member.service.impl.MemberAccountServiceImpl">
		<property name="memberAccountDao" ref="memberAccountDao" />
	</bean>	
  	<!-- ============================================================== -->
	<!--【功能描述:会员信息的bean配置】-->
	<!-- ============================================================== -->     
	<!--【1.初始化Dao】 -->
	<bean id="memberInfoDao" class="com.hnatourism.club.personal.member.dao.impl.MemberInfoDaoImpl" parent="baseIBatisDaoSupport">
	</bean>	
	<!--【2.初始化Service】 -->
	<bean id="memberInfoServ" class="com.hnatourism.club.personal.member.service.impl.MemberInfoServiceImpl">
        <property name="memberInfoDao" ref="memberInfoDao" />
        <property name="memberRoleServ" ref="memberRoleService" />
        <property name="memberStsServ" ref="memberStsService" />
        <property name="memberAccountServ" ref="memberAccountService" />
    </bean> 
	<bean id="memberInfoService" class="com.hnatourism.club.personal.member.service.impl.MemberInfoServiceImpl">
		<property name="memberInfoDao" ref="memberInfoDao" />
		<property name="memberRoleServ" ref="memberRoleService" />
		<property name="memberStsServ" ref="memberStsService" />
		<property name="memberAccountServ" ref="memberAccountService" />
	</bean>	
	<!-- ============================================================== -->
	<!--【功能描述:会员发票表的bean配置】-->
	<!-- ============================================================== -->     
	<!--【1.初始化Dao】 -->
	<bean id="memberInvoiceDao" class="com.hnatourism.club.personal.member.dao.impl.MemberInvoiceDaoImpl" parent="baseIBatisDaoSupport">
	</bean>	
	<!--【2.初始化Service】 -->
	<bean id="memberInvoiceService" class="com.hnatourism.club.personal.member.service.impl.MemberInvoiceServiceImpl">
		<property name="memberInvoiceDao" ref="memberInvoiceDao" />
	</bean>	
	<!-- ============================================================== -->
	<!--【功能描述:会员常用旅客信息的bean配置】-->
	<!-- ============================================================== -->     
	<!--【1.初始化Dao】 -->
	<bean id="memberPassengerDao" class="com.hnatourism.club.personal.member.dao.impl.MemberPassengerDaoImpl" parent="baseIBatisDaoSupport">
	</bean>	
	<!--【2.初始化Service】 -->
	<bean id="memberPassengerService" class="com.hnatourism.club.personal.member.service.impl.MemberPassengerServiceImpl">
		<property name="memberPassengerDao" ref="memberPassengerDao" />
	</bean>	
	<!-- ============================================================== -->
	<!--【功能描述:会员角色表的bean配置】-->
	<!-- ============================================================== -->     
	<!--【1.初始化Dao】 -->
	<bean id="memberRoleDao" class="com.hnatourism.club.personal.member.dao.impl.MemberRoleDaoImpl" parent="baseIBatisDaoSupport">
	</bean>	
	<!--【2.初始化Service】 -->
	<bean id="memberRoleService" class="com.hnatourism.club.personal.member.service.impl.MemberRoleServiceImpl">
		<property name="memberRoleDao" ref="memberRoleDao" />
	</bean>
	<!-- ============================================================== -->
	<!--【功能描述:会员状态表的bean配置】-->
	<!-- ============================================================== -->     
	<!--【1.初始化Dao】 -->
	<bean id="memberStsDao" class="com.hnatourism.club.personal.member.dao.impl.MemberStsDaoImpl" parent="baseIBatisDaoSupport">
	</bean>	
	<!--【2.初始化Service】 -->
	<bean id="memberStsService" class="com.hnatourism.club.personal.member.service.impl.MemberStsServiceImpl">
		<property name="memberStsDao" ref="memberStsDao" />
	</bean>	
	<!--【2.初始化Service】 -->
	<bean id="CustomerProfitServiceImpl" class="com.hnatourism.club.common.service.impl.CustomerProfitServiceImpl">
		<property name="memberAccountDao" ref="memberAccountDao" />
       	<property name="ruleConfigDao" ref="RuleConfigDaoImpl"/>
	</bean>	
	<!--【1.初始化Dao】 -->
	<bean id="sysRoleUserDao" class="com.hnatourism.club.base.dao.impl.SysRoleUserDaoImpl" parent="baseIBatisDaoSupport">
	</bean>	
	<!--【1.初始化Dao】 -->
	<bean id="sysRoleDao" class="com.hnatourism.club.base.dao.impl.SysRoleDaoImpl" parent="baseIBatisDaoSupport">
	</bean>	
	<bean id="sysRoleService" class="com.hnatourism.club.base.service.impl.SysRoleServiceImpl">
		<property name="sysRoleDao" ref="sysRoleDao" />
       	<property name="sysRoleUserService" ref="sysRoleUserService"/>
	</bean>	
	<bean id="sysRoleUserService" class="com.hnatourism.club.base.service.impl.SysRoleUserServiceImpl">
		<property name="sysRoleUserDao" ref="sysRoleUserDao" />
		<property name="sysRoleDao" ref="sysRoleDao" />
	</bean>	
	
	<bean id="prodCaptchaDao" class="com.hnatourism.club.product.base.dao.impl.ProdCaptchaDaoImpl"  parent="baseIBatisDaoSupport">
	</bean>
</beans>