<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
	<bean id="cacheDataManager" class="com.hnatourism.framework.cache.CacheDataManager">
		<property name="cacheManager" ref="defaultCacheManager" />
	</bean>
	<!-- EhCache管理器 -->
	<bean id="defaultCacheManager"
		class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
		<property name="configLocation">
			<value>classpath:ehcache.xml</value>
		</property>
	</bean>
	<!-- 常驻内存缓存 -->
	<bean id="eternalEhCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
		<property name="cacheManager" ref="defaultCacheManager" />
		<property name="cacheName" value="eternal" />
	</bean>
	<!-- 常驻硬盘缓存 -->
	<bean id="bulkEhCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
		<property name="cacheManager" ref="defaultCacheManager" />
		<property name="cacheName" value="bulk" />
	</bean>	
	<!-- 时缓存 -->
	<bean id="hourEhCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
		<property name="cacheManager" ref="defaultCacheManager" />
		<property name="cacheName" value="hour" />
	</bean>
	<!-- 日缓存 -->
	<bean id="dayEhCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
		<property name="cacheManager" ref="defaultCacheManager" />
		<property name="cacheName" value="day" />
	</bean>
	<!-- 常驻硬盘缓存拦截器 -->
	<bean id="bulkMethodCacheInterceptor" class="com.hnatourism.framework.cache.MethodCacheInterceptor">
		<property name="cache" ref="bulkEhCache" />
	</bean>		
	<!-- 时缓存拦截器 -->
	<bean id="hourMethodCacheInterceptor" class="com.hnatourism.framework.cache.MethodCacheInterceptor">
		<property name="cache" ref="hourEhCache" />
	</bean>	
	<!-- 日缓存拦截器 -->
	<bean id="dayMethodCacheInterceptor" class="com.hnatourism.framework.cache.MethodCacheInterceptor">
		<property name="cache" ref="dayEhCache" />
	</bean>
	<bean id="methodInterceptor" class="com.hnatourism.framework.cache.NameMatchCacheInterceptor">
		<property name="attributes">
			<map>
				<entry key="pro*" value-ref="eternalEhCache"/>
				<entry key="*" value-ref="eternalEhCache"/>
			</map>
		</property>
	</bean>
	
	
</beans>