<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
		
	<!-- api -->
	<!-- 酒店api 	author lixun  date 2011-9-5 14:23:18 -->	
	<bean id="hotelApiManager" class="com.hnatourism.club.hotel.api.service.impl.HotelApiManagerImpl" ></bean>
	<!-- 酒店新版api 	author lixun  date 2011-11-14 16:54:58 -->
	<bean id="hotelNewApiManager" class="com.hnatourism.club.hotel.api.service.impl.HotelNewApiManagerImpl" ></bean>
	<!-- action -->
	<!-- 酒店订单action		author lixun  date 2011-9-5 11:12:17 -->	
<!--	<bean id="HotelOrderAction" class="com.hnatourism.club.hotel.order.action.HotelOrderAction" scope="prototype"></bean>-->
<!--	统一移植到一个action中	lixun-->
<!--	<bean id="hotelHomeAction" class="com.hnatourism.club.hotel.prod.web.action.HotelHomeAction" scope="prototype"></bean>-->
<!--	<bean id="hotelSearchAction" class="com.hnatourism.club.hotel.prod.web.action.HotelSearchAction" scope="prototype">-->
<!--		<property name="hotelApiManager" ref="hotelApiManager"></property>-->
<!--	</bean>-->
	<!-- service -->
	
	<bean id="hotelOrderService" class="com.hnatourism.club.hotel.api.service.impl.HotelOrderServiceImpl">
		<property name="payInterfaceApiServer" ref="payInterfaceApiServerImpl"></property>
		<property name="hotelNewApiManager" ref="hotelNewApiManager"></property>
		<property name="memberInfoDao" ref="memberInfoDao"></property>
		<property name="memberAccountDao" ref="memberAccountDao"></property>
		<property name="orderBillService" ref="orderBillService"></property>
		<property name="memberRoleDao" ref="memberRoleDao"></property>
	</bean>
	<bean id="hotelBookServ" class="com.hnatourism.club.hotel.prod.service.impl.HotelBookServiceImpl" />
	<!-- 推荐信息service  -->
	<bean id="recommendProdService" class="com.hnatourism.club.product.base.service.impl.RecommendProdServiceImpl" >
		<property name="recommendProdDao" ref="RecommendProdDaoImpl"></property>
	</bean>

	<!-- dao   -->
	<bean id="RecommendProdDaoImpl" class="com.hnatourism.club.product.base.dao.impl.RecommendProdDaoImpl" parent="baseIBatisDaoSupport">
		<property name="jdbcDaoSupport" ref="jdbcDaoSupport"></property>
	</bean>
</beans>