<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
	
	<!-- 支付action -->
	<bean id="payAction" class="com.hnatourism.club.pay.action.PayAction">
		<property name="payInterfaceApiServer" ref="payInterfaceApiServerImpl"/>
	</bean>
	
	<!-- 回调action -->
	<bean id="payBackAction" class="com.hnatourism.club.pay.action.PayBackAction">
		<property name="orderBillService" ref="orderBillService"/>
	</bean>

	<!-- 支付接口实现类 -->
	<bean id="payInterfaceApiServ" class="com.hnatourism.club.pay.PayInterfaceApiServerImpl"></bean>
	<bean id="payInterfaceApiServerImpl" class="com.hnatourism.club.pay.PayInterfaceApiServerImpl">
		<property name="orderPointsExchangeDao" ref="orderPointsExchangeDao"/>
	</bean>
	<!-- 机票支付 -->
	<bean id="payFlightService" class="com.hnatourism.club.flight.service.PayFlightServiceImpl">
		<property name="orderBill2Service" ref="orderBill2Service"/>
		<property name="ipay" ref="payInterfaceApiServerImpl"/>
	</bean>
</beans>