<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
       
		<!-- 注册器 -->
		<bean id="LoungeRegistrationCenter" class="com.hnatourism.club.loungeserver.LoungeRegistrationCenter">
			<property name="loungeHomeApiService" ref="LoungeHomeApiServiceImpl"/>
			<property name="loungeOrderApiService" ref="LoungeOrderApiServiceImpl"/>
			<property name="loungeSearchApiService" ref="LoungeSearchApiServiceImpl"/>
			<property name="loungeBookApiService" ref="LoungeBookApiServiceImpl"/>
			<property name="loungeOrderDetailApiService" ref="LoungeOrderDetailApiServiceImpl"/>
			<property name="LoungeOrderReturnApiService" ref="LoungeOrderReturnApiService"/>
			<property name="LoungeOrderChangeApiService" ref="LoungeOrderChangeApiService"/>
			<property name="loungeOrderCancelApiService" ref="LoungeOrderCancelApiServiceImpl"/>
			<property name="loungeOrderExceptionApiService" ref="LoungeOrderExceptionApiServiceImpl"/>
			<property name="loungeOrderListApiService" ref="LoungeOrderListApiServiceImpl"/>
			<property name="loungeOrderVerifyApiService" ref="LoungeOrderVerifyApiServiceImpl"></property>
			<property name="loungeOrderLogApiService" ref="LoungeOrderLogApiServiceImpl"></property>
		</bean>
		
       <!-- 休息室查询 -->
       <bean id="LoungeHomeApiServiceImpl" class="com.hnatourism.club.loungeserver.LoungeHomeApiServiceImpl">
       		<property name="loungeInfoDao" ref="LoungeInfoDaoImpl"/>
       		<property name="loungeRoomDao" ref="LoungeRoomDaoImpl"/>
       		<property name="loungePriceDao" ref="LoungePriceDaoImpl"/>
       		<property name="flightAirportDao" ref="FlightAirportDaoImpl"/>
       		<property name="flightAirlineComDao" ref="FlightAirlineComDaoImpl"/>
       </bean>
       
       <!-- 订单管理-->
       <bean id="LoungeOrderApiServiceImpl" class="com.hnatourism.club.loungeserver.order.LoungeOrderApiServiceImpl">
      	 <property name="orderLoungeDao" ref="OrderLoungeDaoImpl"/>
       	<property name="loungeRoomDao" ref="LoungeRoomDaoImpl"/>
      	 <property name="logLoungeOrderDao" ref="LogLoungeOrderDaoImpl"/>
      	 <property name="orderLoungeGuestDao" ref="OrderLoungeGuestDaoImpl"></property>
       		<property name="orderContactDao" ref="OrderContactDaoImpl"/>
       		<property name="priceValidatorService" ref="priceValidatorServiceImpl"/>
       </bean>
       
       <!-- 订单退订  谷建亮 -->
       <bean id="LoungeOrderReturnApiService" class="com.hnatourism.club.loungeserver.order.LoungeOrderReturnApiServiceImpl">
       		 <property name="orderLoungeDao" ref="OrderLoungeDaoImpl"/>
       		 <property name="logLoungeOrderDao" ref="LogLoungeOrderDaoImpl"/>
       		 <property name="orderLoungeExceptionDao" ref="OrderLoungeExceptionDaoImpl"/>
       		 <property name="orderLoungeGuestDao" ref="OrderLoungeGuestDaoImpl"/>
       </bean>
         <!-- 订单改期  谷建亮 -->
       <bean id="LoungeOrderChangeApiService" class="com.hnatourism.club.loungeserver.order.LoungeOrderChangeApiServiceImpl">
       		 <property name="orderLoungeDao" ref="OrderLoungeDaoImpl"/>
       		 <property name="logLoungeOrderDao" ref="LogLoungeOrderDaoImpl"/>
       		 <property name="orderLoungeExceptionDao" ref="OrderLoungeExceptionDaoImpl"/>
       		 <property name="orderLoungeGuestDao" ref="OrderLoungeGuestDaoImpl"/>
       </bean>
       
        <!-- 订单详情		lixun 修改 谷建亮-->
      <bean id="LoungeOrderListApiServiceImpl" class="com.hnatourism.club.loungeserver.order.LoungeOrderListApiServiceImpl">
      	 <property name="orderLoungeDao" ref="OrderLoungeDaoImpl"/>
      	 <property name="loungeInfoDao" ref="LoungeInfoDaoImpl"/>
       	<property name="loungeRoomDao" ref="LoungeRoomDaoImpl"/>
      	 <property name="logLoungeOrderDao" ref="LogLoungeOrderDaoImpl"/>
       		 <property name="orderLoungeExceptionDao" ref="OrderLoungeExceptionDaoImpl"/>
       </bean>
       <!-- 订单详情		lixun 修改 谷建亮-->
      <bean id="LoungeOrderDetailApiServiceImpl" class="com.hnatourism.club.loungeserver.order.LoungeOrderDetailApiServiceImpl">
      	 <property name="orderLoungeDao" ref="OrderLoungeDaoImpl"/>
      	 <property name="loungeInfoDao" ref="LoungeInfoDaoImpl"/>
      	 <property name="iLoungeRoomDao" ref="LoungeRoomDaoImpl"/>
      	 <property name="loungePriceDao" ref="LoungePriceDaoImpl"/>
      	 <property name="orderLoungeGuestDao" ref="OrderLoungeGuestDaoImpl"/>
      	 <property name="orderContactDao" ref="OrderContactDaoImpl"/>
       	<property name="flightAirportDao" ref="FlightAirportDaoImpl"/>
       	<property name="orderLoungeExceptionDao" ref="OrderLoungeExceptionDaoImpl"/>
       		<property name="loungeOrderLogDao" ref="LogLoungeOrderDaoImpl"/>
       </bean>
       
       <!-- 订单取消 		lixun-->
       <bean id="LoungeOrderCancelApiServiceImpl" class="com.hnatourism.club.loungeserver.order.LoungeOrderCancelApiServiceImpl">
		 <property name="logLoungeOrderDao" ref="LogLoungeOrderDaoImpl"/>
		 <property name="orderLoungeDao" ref="OrderLoungeDaoImpl"/>
		 <property name="orderLoungeRoomDao" ref="OrderLoungeRoomDaoImpl"/>
       </bean>
       <!-- 机场休息室退改信息 	lixun -->
       <bean id="LoungeOrderExceptionApiServiceImpl" class="com.hnatourism.club.loungeserver.order.LoungeOrderExceptionApiServiceImpl">
       		<property name="orderLoungeExceptionDao" ref="OrderLoungeExceptionDaoImpl"/>
       		<property name="orderLoungeGuestDao" ref="OrderLoungeGuestDaoImpl"/>
       </bean>
       <!-- 机场休息室异常订单顾客信息 wenz-->
       <bean id="OrderLoungeGuestServiceImpl" class="com.hnatourism.club.lounge.order.service.impl.OrderLoungeGuestServiceImpl">
       	<property name="orderLoungeGuestDaoImpl" ref="OrderLoungeGuestDaoImpl"></property>
       </bean>
       <!-- 机场休息室订单状态确认	lixun -->
       <bean id="LoungeOrderVerifyApiServiceImpl" class="com.hnatourism.club.loungeserver.order.LoungeOrderVerifyApiServiceImpl">
	 		 <property name="logLoungeOrderDao" ref="LogLoungeOrderDaoImpl"/>
			 <property name="orderLoungeDao" ref="OrderLoungeDaoImpl"/>
			 <property name="orderLoungeExceptionDao" ref="OrderLoungeExceptionDaoImpl"/>
			 <property name="orderBillService" ref="orderBillService"/>
			 <property name="payInterfaceApiServerImpl" ref="payInterfaceApiServerImpl"/>
			 <property name="orderLoungeGuestDao" ref="OrderLoungeGuestDaoImpl"/>
       		 <property name="loungeRoomDao" ref="LoungeRoomDaoImpl"/>
       		 <property name="prodCaptchaDao" ref="prodCaptchaDao"/>
       </bean>
       
       <!-- 机场休息室日志	lixun -->
       <bean id="LoungeOrderLogApiServiceImpl" class="com.hnatourism.club.loungeserver.order.LoungeOrderLogServiceImpl">
	 		 <property name="logLoungeOrderDao" ref="LogLoungeOrderDaoImpl"/>
       </bean>
       <!-- 休息室搜索 -->
       <bean id="LoungeSearchApiServiceImpl" class="com.hnatourism.club.loungeserver.prod.LoungeSearchApiServiceImpl">
       		<property name="loungeInfoDao" ref="LoungeInfoDaoImpl"/>
       		<property name="loungeRoomDao" ref="LoungeRoomDaoImpl"/>
       		<property name="loungePriceDao" ref="LoungePriceDaoImpl"/>
       		<property name="flightAirportDao" ref="FlightAirportDaoImpl"/>
       		<property name="flightAirlineComDao" ref="FlightAirlineComDaoImpl"/>
       		<property name="loungeImgDAO" ref="LoungeImgDaoImpl"/>
       		<property name="ruleConfigDao" ref="RuleConfigDaoImpl"/>
       		<property name="memberAccountDao" ref="memberAccountDao" />
       		<property name="customerProfitServ" ref="CustomerProfitServiceImpl" />
       		<property name="memberInfoServ" ref="memberInfoService"/>
       		<property name="memberRoleServ" ref="memberRoleService" />
       </bean>
       <!-- 休息室预订 -->
       <bean id="LoungeBookApiServiceImpl" class="com.hnatourism.club.loungeserver.prod.LoungeBookApiServiceImpl">
       		<property name="loungeInfoDao" ref="LoungeInfoDaoImpl"/>
       		<property name="loungeRoomDao" ref="LoungeRoomDaoImpl"/>
       		<property name="loungePriceDao" ref="LoungePriceDaoImpl"/>
       		<property name="loungeLimitDao" ref="LoungeLimitDaoImpl"/>
       		<property name="flightAirportDao" ref="FlightAirportDaoImpl"/>
       		<property name="flightAirlineComDao" ref="FlightAirlineComDaoImpl"/>
       		<property name="ruleConfigDao" ref="RuleConfigDaoImpl"/>
       		<property name="memberAccountDao" ref="memberAccountDao" />
			<property name="customerProfitServ" ref="CustomerProfitServiceImpl" />
       		<property name="memberRoleServ" ref="memberRoleService" />
       </bean>
       <!-- action -->
       <bean id="LoungeInfoAction" class="com.hnatourism.club.lounge.prod.action.LoungeInfoAction" scope="prototype">
       		<property name="memberInfoServ" ref="memberInfoService"/>
			<property name="memberAccountServ" ref="memberAccountService"/>
			<property name="memberRoleServ" ref="memberRoleService" />
       </bean>
       <bean id="OrderLoungeAction" class="com.hnatourism.club.lounge.prod.action.OrderLoungeAction">
       	<property name="memberInfoServ" ref="memberInfoService"/>
		<property name="memberAccountServ" ref="memberAccountService"/>
       		<property name="customerProfitServ" ref="CustomerProfitServiceImpl" />
       		<property name="memberRoleServ" ref="memberRoleService" />
       </bean>
       <!-- 休息室定单action -->
       <!-- lixun 机场休息室订单 详情,查询,取消,退改-->
       <bean id="LoungeOrderAction" class="com.hnatourism.club.lounge.order.action.LoungeOrderAction" scope="prototype">
       	<property name="memberInfoServ" ref="memberInfoService"/>
       	<property name="orderLoungeGuestServiceImpl" ref="OrderLoungeGuestServiceImpl"></property>
       </bean>
       
       <!-- dao -->
       <bean id="LoungeImgDaoImpl" class="com.hnatourism.club.lounge.prod.dao.impl.LoungeImgDaoImpl" parent="baseIBatisDaoSupport"></bean>
       <bean id="LoungeInfoDaoImpl" class="com.hnatourism.club.lounge.prod.dao.impl.LoungeInfoDaoImpl" parent="baseIBatisDaoSupport"></bean>
       <bean id="LoungeLimitDaoImpl" class="com.hnatourism.club.lounge.prod.dao.impl.LoungeLimitDaoImpl" parent="baseIBatisDaoSupport"></bean>
       <bean id="LoungePriceDaoImpl" class="com.hnatourism.club.lounge.prod.dao.impl.LoungePriceDaoImpl" parent="baseIBatisDaoSupport"></bean>
       <bean id="LoungeRoomDaoImpl" class="com.hnatourism.club.lounge.prod.dao.impl.LoungeRoomDaoImpl" parent="baseIBatisDaoSupport"></bean>
       <bean id="FlightAirportDaoImpl" class="com.hnatourism.club.lounge.prod.dao.impl.FlightAirportDaoImpl" parent="baseIBatisDaoSupport"></bean>
       <bean id="FlightAirlineComDaoImpl" class="com.hnatourism.club.lounge.prod.dao.impl.FlightAirlineComDaoImpl" parent="baseIBatisDaoSupport"></bean>
       
       <bean id="OrderLoungeDaoImpl" class="com.hnatourism.club.lounge.order.dao.impl.OrderLoungeDaoImpl" parent="baseIBatisDaoSupport">
       		<property name="jdbcDaoSupport" ref="jdbcDaoSupport"/>
       </bean>
       <bean id="OrderLoungeExceptionDaoImpl" class="com.hnatourism.club.lounge.order.dao.impl.OrderLoungeExceptionDaoImpl" parent="baseIBatisDaoSupport"></bean>
       <bean id="OrderLoungeGuestDaoImpl" class="com.hnatourism.club.lounge.order.dao.impl.OrderLoungeGuestDaoImpl" parent="baseIBatisDaoSupport"></bean>
       <bean id="LogLoungeOrderDaoImpl" class="com.hnatourism.club.lounge.order.dao.impl.LogLoungeOrderDaoImpl" parent="baseIBatisDaoSupport"></bean>
       <bean id="OrderLoungeRoomDaoImpl" class="com.hnatourism.club.lounge.order.dao.impl.OrderLoungeRoomDaoImpl" parent="baseIBatisDaoSupport"></bean>
       <bean id="OrderContactDaoImpl" class="com.hnatourism.club.lounge.order.dao.impl.OrderContactDaoImpl" parent="baseIBatisDaoSupport"></bean>
</beans>