<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:aop="http://www.springframework.org/schema/aop"
     xmlns:tx="http://www.springframework.org/schema/tx"
     xmlns:ehcache="http://www.springmodules.org/schema/ehcache"
     xmlns:context="http://www.springframework.org/schema/context"
     xsi:schemaLocation="
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
     http://www.springmodules.org/schema/ehcache http://www.springmodules.org/schema/cache/springmodules-ehcache.xsd 
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <!-- 读取jdbc配置文件 -->	
	<context:property-placeholder location="classpath:jdbc.properties"/>
	<!-- 定义数据源 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"  destroy-method="close">
  		<!-- 指定连接数据库的驱动 -->
  		<property name="driverClass" value="${jdbc.driver}"></property>
  		<!-- 指定连接数据库的URL -->
  		<property name="jdbcUrl" value="${jdbc.url}"></property>
  		<!-- 指定连接数据库的用户名 -->
  		<property name="user" value="${jdbc.user}"></property>
  		<!-- 指定连接数据库的密码 -->
  		<property name="password" value="${jdbc.password}"></property>
  		<!-- 指定连接数据库的连接池的最大连接数 -->
  		<property name="maxPoolSize" value="500"></property>
  		<!-- 指定连接数据库的连接池的最小连接数 -->
  		<property name="minPoolSize" value="1"></property>
  		<!-- 指定连接数据库的连接池的初始化连接数 -->
  		<property name="initialPoolSize" value="1"></property>
  		<!-- 指定连接数据库的连接池的最大空闲时间 -->
  		<property name="maxIdleTime" value="10"></property>
 	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation"
			value="classpath:hibernate.cfg.xml">
		</property>
	</bean>
	<!-- 数据连接事务 -->   
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">   
		<property name="dataSource" ref="dataSource" />   
	</bean>
	
	<!-- 拦截事务的方法设置 -->   
	<bean id="transactionInterceptor" class="org.springframework.transaction.interceptor.TransactionInterceptor">   
		<property name="transactionManager" ref="transactionManager" />
		<property name="transactionAttributes">
			<props>
				<prop key="find*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="insert*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="add*">PROPAGATION_REQUIRED</prop>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="remove*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	
	<!-- 通知器，用它来对属性值进行处理    -->
	<bean class="org.springframework.transaction.interceptor.TransactionAttributeSourceAdvisor">   
		<property name="transactionInterceptor" ref="transactionInterceptor" />   
	</bean>
	<context:annotation-config/>
	<!-- 由<context:annotation-config/>来激活
	 @Autowired注解协助管理
	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"></bean>
	 @Required 注解协助管理
	<bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"></bean>
	 -->
	</beans>